<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaiyou.lucky.mapper.ActiveMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ctype, ctime, userid, drawid,notes, tuserid, asid, acid
    </sql>
    
    <select id="getDetailStatic" resultType="com.kuaiyou.lucky.res.ActiveFlagRes">
		SELECT ac.flag,ac.name AS flagname,a.deshow,a.dehome,b.joins
		FROM t_proxy_activity ac 
		LEFT JOIN (
			SELECT COUNT(DISTINCT CASE WHEN t.ctype=20 THEN t.userid END) AS deshow,COUNT(DISTINCT CASE WHEN t.ctype=21 THEN t.userid END) AS dehome,t.flag
			FROM t_luck_active t
			<where>
				<if test="starttime != null and starttime != ''">
					AND t.ctime &gt;= #{starttime}
				</if>
				<if test="endtime != null and endtime != ''">
					AND t.ctime &lt;= #{endtime}
				</if>
			</where>
			GROUP BY t.flag) a ON ac.flag = a.flag 
		LEFT JOIN (
			SELECT u.flag,COUNT(u.userid) AS joins
			FROM t_luck_userdraw u
			<where>
				<if test="starttime != null and starttime != ''">
					AND u.ctime &gt;= #{starttime}
				</if>
				<if test="endtime != null and endtime != ''">
					AND u.ctime &lt;= #{endtime}
				</if>
			</where>
			GROUP BY u.flag) b ON ac.flag = b.flag
		WHERE ac.type != 3;
    </select>
    
    <select id="dailyData" resultType="com.kuaiyou.lucky.res.DailyreportRes">
    	SELECT ad.linkurl,ad.acid,ad.asid,ad.acname,ad.asname,temp.uamount,temp.amount
		FROM t_luck_adsenselog ad 
		LEFT JOIN (
			SELECT t.acid,t.asid,COUNT(DISTINCT(t.userid)) uamount,COUNT(t.userid) AS amount
			FROM t_luck_active t
			<where>
				t.ctype = #{ctype} AND t.ctime BETWEEN #{starttime} AND #{endtime}
			</where>
			GROUP BY t.acid,t.asid
			) temp ON ad.acid = temp.acid AND ad.asid = temp.asid;
    </select>
    
    <insert id="insertWithCoins">
		INSERT INTO t_luck_coins (userid,notes,ctype,ctime,amount,acoin,bcoin) 
		SELECT #{userid},#{notes},#{ctype},#{ctime},#{coins},t.coins,t.coins+ABS(#{coins})
		FROM t_luck_wxuser t
		WHERE t.userid = #{userid};
		
    	UPDATE t_luck_wxuser t
		SET t.coins = t.coins + ABS(#{coins})
		WHERE t.userid = #{userid};
		
    </insert>
    
    <select id="newTaskResult" resultType="com.kuaiyou.lucky.res.TaskRes">
    	SELECT IFNULL(w.audit,0) as audit,w.userid,IFNULL(t.actcount,0) AS actcount, w.subac AS act, w.subsign
		FROM t_luck_wxuser w
		LEFT JOIN 
			(SELECT u.userid,COUNT(1) AS actcount
			FROM t_luck_userdraw u 
			LEFT JOIN t_luck_draw d ON u.drawid = d.id
			WHERE d.act = 1 AND u.userid = #{userid}
			GROUP BY u.userid) t ON w.userid = t.userid
		WHERE w.userid = #{userid};
    </select>
    <select id="dateTaskResult" resultType="com.kuaiyou.lucky.res.TaskRes">
    	SELECT w.userid,IFNULL(a.sharecount,0) AS sharecount,IFNULL(a.invitecount,0) AS invitecount,IFNULL(b.joincount,0) AS joincount
		FROM t_luck_wxuser w
		LEFT JOIN (
			SELECT t.userid,COUNT(CASE WHEN t.ctype=5 THEN t.userid END) AS sharecount,COUNT(CASE WHEN t.ctype=6 THEN t.userid END) AS invitecount
		    FROM t_luck_active t
		        <where>
					t.userid = #{userid}
					<if test="starttime != null and starttime != ''">
						AND t.ctime &gt;= #{starttime}
					</if>
					<if test="endtime != null and endtime != ''">
						AND t.ctime &lt;= #{endtime}
					</if>
				</where>
			GROUP BY t.userid
		) a ON w.userid = a.userid
		LEFT JOIN (
			SELECT us.userid,COUNT(1) AS joincount
			FROM t_luck_userdraw us 
			<where>
				us.userid = #{userid}
				<if test="starttime != null and starttime != ''">
					AND us.ctime &gt;= #{starttime}
				</if>
				<if test="endtime != null and endtime != ''">
					AND us.ctime &lt;= #{endtime}
				</if>
			</where>
			GROUP BY us.userid
		) b ON w.userid = b.userid
		<where>
			w.userid = #{userid}
		</where>
    </select>
    
    <select id="channelStat" resultType="com.kuaiyou.lucky.res.ActiveRes">
    	SELECT COUNT(DISTINCT(t.userid)) AS uclick,COUNT(t.userid) AS click,ac.name AS proname,g.skuname,t.flag,DATE_FORMAT(t.ctime ,'%Y-%m-%d') AS ctime
		FROM t_luck_active t
		INNER JOIN t_luck_goods g ON t.skuid = g.skuid
		LEFT JOIN t_proxy_activity ac ON t.flag = ac.flag 
		<where>
			t.ctype = 13 
			<if test="proname != null and proname != ''">
				AND ac.proname LIKE CONCAT('%',#{proname},'%')
			</if>
			<if test="skuname != null and skuname != ''">
				AND t.skuname LIKE CONCAT('%',#{skuname},'%')
			</if>
			<if test="starttime != null and starttime != ''">
				AND t.ctime &gt;= #{starttime}
			</if>
			<if test="endtime != null and endtime != ''">
				AND t.ctime &lt;= #{endtime}
			</if>
		</where>
		GROUP BY t.flag,t.skuid,DATE_FORMAT(t.ctime ,'%Y-%m-%d')
		<if test="page !=null  and skip > 0">
			LIMIT #{page},#{skip}
		</if>;
    </select>

    <select id="channelStatCount" resultType="java.lang.Integer">
    	SELECT COUNT(1)
    	FROM (
	    	SELECT t.flag
			FROM t_luck_active t
			INNER JOIN t_luck_goods g ON t.skuid = g.skuid
			LEFT JOIN t_proxy_activity ac ON t.flag = ac.flag 
			<where>
				t.ctype = 13 
				<if test="proname != null and proname != ''">
					AND ac.proname LIKE CONCAT('%',#{proname},'%')
				</if>
				<if test="skuname != null and skuname != ''">
					AND t.skuname LIKE CONCAT('%',#{skuname},'%')
				</if>
				<if test="starttime != null and starttime != ''">
					AND t.ctime &gt;= #{starttime}
				</if>
				<if test="endtime != null and endtime != ''">
					AND t.ctime &lt;= #{endtime}
				</if>
			</where>
			GROUP BY t.flag,t.skuid
		) tt;
    </select>
</mapper>
