<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaiyou.lucky.mapper.AdsenseMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, asname, status, atype, fill, isdt, ctime
    </sql>

	<select id="getAd" resultType="com.kuaiyou.lucky.entity.Adsenselog">
		SELECT t.*
		FROM t_luck_adsenselog t
		INNER JOIN t_luck_adviser ad ON t.acid = ad.id
		WHERE t.asid = #{asid} AND ad.status = 1 AND t.status = 1;
	</select>
</mapper>
