<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaiyou.lucky.mapper.CoinsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, ctype, notes, amount, ctime, acoin, bcoin
    </sql>
    
    <update id="insertWithUser">
		INSERT INTO t_luck_coins (userid,notes,ctype,ctime,amount,acoin,bcoin) 
		SELECT #{userid},#{notes},#{ctype},#{ctime},#{amount},t.coins,t.coins+ABS(#{amount})
		FROM t_luck_wxuser t
		WHERE t.userid = #{userid};
		
    	UPDATE t_luck_wxuser t
		SET t.coins = t.coins + ABS(#{amount})
		WHERE t.userid = #{userid};
    </update>
    
    <update id="minsWithUser">
		INSERT INTO t_luck_coins (userid,notes,ctype,ctime,amount,acoin,bcoin) 
		SELECT #{userid},#{notes},#{ctype},#{ctime},#{amount},t.coins,t.coins-ABS(#{amount})
		FROM t_luck_wxuser t
		WHERE t.userid = #{userid};
		
    	UPDATE t_luck_wxuser t
		SET t.coins = t.coins - ABS(#{amount})
		WHERE t.userid = #{userid};
    </update>
    
 <!--    <select id="selectDateDiff" resultType="com.kuaiyou.lucky.res.CoinsRes">
    	SELECT DATEDIFF(#{},t.ctime) AS diff,t.*
		FROM t_luck_coins t
		ORDER BY t.ctime DESC
    </select> -->
    

</mapper>
