<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaiyou.lucky.mapper.DrawMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, name, level, opentype, notes, type, status, opentime,
		utime, ctime,
		pubid, pubtype, adid, isrec, mencount, pubname, stprize,img1,img2,img3, deleted,mainurl,act
	</sql>
	
	<resultMap type="com.kuaiyou.lucky.res.DrawRes" id="GridResultMap">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="mencount" column="mencount"/>
		<result property="level" column="level"/>
		<result property="opentype" column="opentype"/>
		<result property="notes" column="notes"/>
		<result property="type" column="type"/>
		<result property="status" column="status"/>
		<result property="opentime" column="opentime"/>
		<result property="utime" column="utime"/>
		<result property="ctime" column="ctime"/>
		<result property="pubid" column="pubid"/>
		<result property="pubtype" column="pubtype"/>
		<result property="adid" column="adid"/>
		<result property="isrec" column="isrec"/>
		<result property="appkey" column="appkey"/>
		<result property="bannerurl" column="bannerurl"/>
		<result property="iconurl" column="iconurl"/>
		<result property="qrurl" column="qrurl"/>
		<result property="inserturl" column="inserturl"/>
		<result property="acname" column="acname"/>
		<result property="pubname" column="pubname"/>
		<result property="stprize" column="stprize"/>
		<result property="isjoin" column="isjoin"/>
		<result property="img1" column="img1"/>
		<result property="img2" column="img2"/>
		<result property="img3" column="img3"/>
		<result property="deleted" column="deleted"/>
		<result property="mainurl" column="mainurl"/>
		<collection property="prizes" ofType="com.kuaiyou.lucky.res.PrizeSettingRes" javaType="java.util.ArrayList" column="id" select="prizeGrid"/>
	</resultMap>
	<resultMap type="com.kuaiyou.lucky.res.AdminDrawRes" id="AdminResultMap">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="mencount" column="mencount"/>
		<result property="level" column="level"/>
		<result property="opentype" column="opentype"/>
		<result property="notes" column="notes"/>
		<result property="type" column="type"/>
		<result property="status" column="status"/>
		<result property="opentime" column="opentime"/>
		<result property="utime" column="utime"/>
		<result property="ctime" column="ctime"/>
		<result property="pubid" column="pubid"/>
		<result property="pubtype" column="pubtype"/>
		<result property="adid" column="adid"/>
		<result property="isrec" column="isrec"/>
		<result property="appkey" column="appkey"/>
		<result property="bannerurl" column="bannerurl"/>
		<result property="iconurl" column="iconurl"/>
		<result property="qrurl" column="qrurl"/>
		<result property="inserturl" column="inserturl"/>
		<result property="acname" column="acname"/>
		<result property="pubname" column="pubname"/>
		<result property="stprize" column="stprize"/>
		<result property="isjoin" column="isjoin"/>
		<result property="img1" column="img1"/>
		<result property="img2" column="img2"/>
		<result property="img3" column="img3"/>
		<result property="deleted" column="deleted"/>
		<result property="joincount" column="joincount"/>
		<result property="bingocount" column="bingocount"/>
		<result property="mainurl" column="mainurl"/>
		<collection property="prizes" ofType="com.kuaiyou.lucky.res.PrizeSettingRes" javaType="java.util.ArrayList" column="id" select="prizeGrid"/>
	</resultMap>

	<select id="activeGrid" resultMap="GridResultMap">
		SELECT t.*
		FROM  t_luck_draw t
		<where>
			t.deleted = 0 AND t.act = 1 
		</where>
		ORDER BY t.ctime DESC
		<if test="page !=null  and skip > 0">
			LIMIT #{page},#{skip}
		</if>
	</select>
	
	<select id="activeGridCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM  t_luck_draw t
		WHERE
			t.deleted = 0 AND t.act = 1
	</select>
	
	<select id="baseGrid" resultMap="GridResultMap">
		SELECT t.*
		FROM  t_luck_draw t
		<where>
			t.isrec = 0 AND t.deleted = 0 AND t.act = 0 AND t.status = 0 AND t.pubtype = 1
		</where>
		ORDER BY t.ctime DESC
		<if test="page !=null  and skip > 0">
			LIMIT #{page},#{skip}
		</if>
	</select>
	
	<select id="baseGridCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM  t_luck_draw t
		WHERE
			t.isrec = 0 AND t.deleted = 0 AND t.act = 0 AND t.status = 0 AND t.pubtype = 1
	</select>
	
	<select id="prizeGrid" resultType="com.kuaiyou.lucky.res.PrizeSettingRes">
		SELECT t.*
		FROM t_luck_prizesetting t 
		WHERE t.drawid = #{id}
	</select>
	
	<select id="recGrid" resultMap="GridResultMap">
		SELECT t.*
		FROM  t_luck_draw t
		<where>
			t.isrec &gt;= 1 AND t.deleted = 0 AND t.act = 0 AND t.status = 0 AND t.pubtype = 1
		</where>
		LIMIT 6;
	</select>
	
	<select id="drawDetail" resultMap="GridResultMap">
		SELECT t.*,a.appkey,a.bannerurl,a.iconurl,a.qrurl,a.inserturl,a.name AS acname
		FROM t_luck_draw t
		LEFT JOIN t_luck_activity a ON t.pubid = a.id
		WHERE t.id = #{drawid};
	</select>
	
	<!-- admin start -->
	<select id="adminGrid" resultMap="AdminResultMap">
		SELECT t.*,us.joincount,us.bingocount
		FROM t_luck_draw t
		LEFT JOIN (
			SELECT u.drawid,COUNT(u.userid) AS joincount,COUNT(CASE WHEN u.bingo = 1 THEN u.userid END) AS bingocount
			FROM t_luck_userdraw u
			GROUP BY u.drawid
		) us ON t.id = us.drawid 
		<where>
			<if test="isrec != null">
				AND t.isrec = #{isrec}
			</if>
			<if test="pubtype != null">
				AND t.pubtype = #{pubtype}
			</if>
			<if test="opentype != null">
				AND t.opentype = #{opentype}
			</if>
			<if test="status != null">
				AND t.status = #{status}
			</if>
			<if test="starttime != null and starttime != ''">
				AND t.ctime &gt;= #{starttime}
			</if>
			<if test="endtime != null and endtime != ''">
				AND t.ctime &lt;= #{endtime}
			</if>
		</where>
		ORDER BY t.ctime DESC
		<if test="page !=null  and skip > 0">
			LIMIT #{page},#{skip}
		</if>
	</select>

	<select id="adminGridCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM t_luck_draw t
		LEFT JOIN (
			SELECT u.drawid,COUNT(u.userid) AS joincount,COUNT(CASE WHEN u.bingo = 1 THEN u.userid END) AS bingocount
			FROM t_luck_userdraw u
			GROUP BY u.drawid
		) us ON t.id = us.drawid 
	</select>
	
	<select id="adminDrawDetail" resultMap="GridResultMap">
		SELECT t.*,a.appkey,a.bannerurl,a.iconurl,a.qrurl,a.inserturl,a.name AS acname
		FROM t_luck_draw t
		LEFT JOIN t_luck_activity a ON t.pubid = a.id
		WHERE t.id = #{drawid};
	</select>
	

</mapper>
