<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaiyou.lucky.mapper.UserdevMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userid, openid, wechatversion, pixelratio, sysversion, phoneplatform, os, ctime, network, mobilebrand, lngandlat, lang, width, height
    </sql>

</mapper>
