<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaiyou.lucky.mapper.WxuserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, status, userid, openid, deleted, createtime, updatetime, gender, language, city, province, country,
        avatarurl, flag, channel,coins,audit, unionid, subac, subsign
    </sql>
    
    <select id="randFake"  resultType="com.kuaiyou.lucky.res.UserdrawRes">
    	SELECT t.* FROM t_luck_wxuser t WHERE t.nickname IS NOT NULL ORDER BY RAND() LIMIT #{amount} ;
    </select>

	<select id="baseList" resultType="com.kuaiyou.lucky.res.WxuserRes">
		SELECT t.*,a.pubcount,b.joincount,b.bingocount,ar.address,IFNULL(cc.ban,0) AS ban
		FROM t_luck_wxuser t
		LEFT JOIN (
			SELECT d.pubid,COUNT(1) AS pubcount
			FROM t_luck_draw d 
			GROUP BY d.pubid
		) a ON t.userid = a.pubid 
		LEFT JOIN (
			SELECT u.userid ,COUNT(1) AS joincount,COUNT(CASE WHEN u.bingo=1 THEN userid END ) AS bingocount
			FROM t_luck_userdraw u 
			GROUP BY u.userid) b ON b.userid = t.userid
		LEFT JOIN (
			SELECT ad.userid,ad.address
			FROM t_luck_address ad 
			GROUP BY ad.userid) ar ON t.userid = ar.userid
		LEFT JOIN (SELECT teb.userid,COUNT(1) AS ban
			FROM t_luck_banlist teb
			GROUP BY teb.userid ) cc ON t.userid = cc.userid
		<where>
			<if test="starttime != null and starttime != ''">
				AND t.createtime &gt;= #{starttime}
			</if>
			<if test="endtime != null and endtime != ''">
				AND t.createtime &lt;= #{endtime}
			</if>
			<if test="type != null">
				AND t.type = #{type}
			</if>
			<if test="nickname != null and nickname != ''">
				AND t.nickname LIKE CONCAT('%',#{nickname},'%')
			</if>
		</where>
		<choose>
			<when test="sorts != null and sorts.length >0">
				ORDER BY (
					<foreach collection="sorts" item="sort" separator=",">
						${sort}	
					</foreach>
				) 
			</when>
            <otherwise>
				ORDER BY t.createtime
            </otherwise>
        </choose>
        <choose>
			<when test="order == 1">
				ASC
			</when>
            <otherwise>
            	DESC
            </otherwise>
        </choose>
		<if test="page !=null  and skip > 0">
			LIMIT #{page},#{skip}
		</if>;
	</select>
	<select id="baseListCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM t_luck_wxuser t
		LEFT JOIN (
			SELECT d.pubid,COUNT(1) AS pubcount
			FROM t_luck_draw d 
			GROUP BY d.pubid
		) a ON t.userid = a.pubid 
		LEFT JOIN (
			SELECT u.userid ,COUNT(1) AS joincount,COUNT(CASE WHEN u.bingo=1 THEN userid END ) AS bingocount
			FROM t_luck_userdraw u 
			GROUP BY u.userid) b ON b.userid = t.userid
		LEFT JOIN (
			SELECT ad.userid,ad.address
			FROM t_luck_address ad 
			GROUP BY ad.userid
			) ar ON t.userid = ar.userid
			<where>
				<if test="starttime != null and starttime != ''">
					AND t.createtime &gt;= #{starttime}
				</if>
				<if test="endtime != null and endtime != ''">
					AND t.createtime &lt;= #{endtime}
				</if>
				<if test="type != null">
					AND t.type = #{type}
				</if>
				<if test="nickname != null and nickname != ''">
					AND t.nickname LIKE CONCAT('%',#{nickname},'%')
				</if>
			</where>
	</select>
	

</mapper>
